<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kun.eduservice.mapper.EduCourseMapper">

    <select id="getPublishCourseInfo" resultType="com.kun.eduservice.entity.vo.CoursePublicVo">
        SELECT ec.id,ec.title,ec.cover,ec.price,ec.lesson_num,ecd.description,et.`name`,es1.title As oneSubject,es2.title AS twoSubject
          FROM  edu_course ec      LEFT OUTER JOIN edu_course_description ecd on ec.id=ecd.id
                                   LEFT OUTER JOIN edu_teacher et on ec.teacher_id=et.id
                                   LEFT OUTER JOIN edu_subject es1 on ec.subject_parent_id = es1.id
                                   LEFT OUTER JOIN edu_subject es2 on ec.subject_id = es2.id
                                   WHERE ec.id =#{courseId}
    </select>
    <select id="getAllPublishCourseInfo" resultType="com.kun.eduservice.entity.vo.CoursePublicVo">
         SELECT ec.id,ec.title,ec.cover,ec.price,ec.lesson_num,ecd.description,et.`name`,es1.title As oneSubject,es2.title AS twoSubject
          FROM  edu_course ec      LEFT OUTER JOIN edu_course_description ecd on ec.id=ecd.id
                                   LEFT OUTER JOIN edu_teacher et on ec.teacher_id=et.id
                                   LEFT OUTER JOIN edu_subject es1 on ec.subject_parent_id = es1.id
                                   LEFT OUTER JOIN edu_subject es2 on ec.subject_id = es2.id

    </select>
    <select id="getBaseCourseId" resultType="com.kun.eduservice.entity.frontVo.CourseVudeoVo">
  SELECT ec.id,ec.title,ec.price,ec.lesson_num AS lessonNum,ec.cover,
               ec.buy_count AS buyCount,ec.view_count AS viewCount,
               ecd.description,
               et.id AS teacherId,et.name AS teacherName,et.intro,et.avatar,
               es1.id AS oneSubjectId,es1.title AS oneSubject,
               es2.id AS  twoSubjectId,es2.title AS twoSubject
      FROM edu_course ec LEFT OUTER JOIN edu_course_description ecd ON ec.id=ecd.id
                    LEFT OUTER JOIN edu_teacher et ON ec.teacher_id=et.id
                    LEFT OUTER JOIN edu_subject es1 ON ec.subject_parent_id=es1.id
		            LEFT OUTER JOIN edu_subject es2 ON ec.subject_id=es2.id
        WHERE ec.id=#{courseId}
    </select>
</mapper>
